In [1]:
import pandas as pd
from datetime import datetime

past_data = pd.read_excel('Spreadsheets/Jun_sales_data.xlsx')
present_data = pd.read_excel('Spreadsheets/Jul_sales_data.xlsx')
customer_list = pd.read_excel('Spreadsheets/Customer_list.xlsx')

In [2]:
present_data.head()

,Order Date/Time,Order No.,Name,Address,Phone,Due Date,Pcs.,Weight,Gross Amount,Discount,Net Amount,Paid,Balance
0,2025-01-07 13:20:24,052-01685,ishani,hampton park B901,9723423643,"06 Jul, 2025",28,NaN,2450,0.0,2450.0,2450,0
1,2025-01-07 13:47:30,052-01686,Neha Agarwal,"C 901, Fiona, Next to Siddhivinayak temple",9925121243,"06 Jul, 2025",2,NaN,260,0.0,260.0,260,0
2,2025-01-07 14:13:46,052-01687,Stuti Doshi,"D-204, Jolly Residency, Vesu",9824516012,"06 Jul, 2025",3,0.0,180,0.0,180.0,0,180
3,2025-01-07 14:14:50,052-01688,Priyanka Kothari,"B-401.Sapphire Court, Vesu",9099639469,"06 Jul, 2025",1,NaN,60,0.0,60.0,60,0
4,2025-01-07 14:17:07,052-01690,Pallvi Agrawal,"B-601, Emotion, Expression, near shyam mandir,...",9624822004,"06 Jul, 2025",6,0.0,270,0.0,270.0,270,0

In [3]:
past_data.head()

,Order Date/Time,Order No.,Name,Address,Phone,Due Date,Pcs.,Weight,Gross Amount,Discount,Net Amount,Paid,Balance
0,2025-02-06 15:53:12,052-01566,Samir,"I-736, Star Galaxy, Vesu",9825382832,"07 Jun, 2025",37,0.0,1665,0.0,1665.0,0.0,1665
1,2025-02-06 16:05:16,052-01567,Jhunjhunwala,"A-1002, Rajhans Cosmic, Vesu",9979366815,"07 Jun, 2025",5,NaN,300,60.0,240.0,240.0,0
2,2025-02-06 16:12:32,052-01568,amar singh,Vesu,9574802367,"07 Jun, 2025",3,NaN,180,0.0,180.0,0.0,180
3,2025-02-06 18:57:27,052-01569,mayank tyagi,B1002 sarmya apartment opp terapanth citilight,9891976976,"07 Jun, 2025",5,NaN,300,60.0,240.0,240.0,0
4,2025-02-06 18:58:59,052-01570,Manisha Dalmia,Vesu,9824119894,"07 Jun, 2025",1,NaN,250,0.0,250.0,0.0,250

In [4]:
customer_list

,Name,Mobile No,Address,Month_Year
0,Arise Decor,9998000543,"114,Cannon Street 1, Vesu, Surat",Aug 2024
1,Yatharth Raathi,9969604584,"B/702, White Wings Torrance, Canal Road, GD go...",Aug 2024
2,Saket Khanuri,9493918393,"Bhabha Bhavan, SVNIT, Surat",Aug 2024
3,Aastha Bansal,9723392441,"B112, Kalpana Society, Part-2, Near Jain Deras...",Aug 2024
4,Jayantilal Mehta,9316400537,Vesu,Aug 2024
...,...,...,...,...
320,sourav,9974173433,jolly A1304,Jun 2025
321,shradha jain,8511031011,dev raj residancy D801,Jun 2025
322,amar singh,9574802367,Vesu,Jun 2025
323,dr abhilasha,7698173840,Vesu,Jun 2025
324,amar singh,9512504076,Vesu,Jun 2025

In [5]:
def normalize_date_str(val):
    try:
        # Try parsing with dayfirst=True to catch "28-02-2025" types
        parsed = pd.to_datetime(str(val), dayfirst=True, errors='coerce')
        if pd.isnull(parsed):
            return None
        return parsed.strftime('%Y/%m/%d')  # as string in uniform format
    except Exception:
        return None

present_data['Normalized Date'] = present_data['Order Date/Time'].apply(normalize_date_str)
past_data['Normalized Date'] = past_data['Order Date/Time'].apply(normalize_date_str)

def to_date_obj(val):
    try:
        return datetime.strptime(val, '%Y/%m/%d').date() if pd.notnull(val) else None
    except Exception:
        return None

present_data['Order Date/Time'] = present_data['Normalized Date'].apply(to_date_obj)
present_data.drop(columns='Normalized Date', inplace=True)

past_data['Order Date/Time'] = past_data['Normalized Date'].apply(to_date_obj)
past_data.drop(columns='Normalized Date', inplace=True)

In [6]:
def get_month_name(month):
    month_name = month['Order Date/Time'][0].strftime('%b %Y')
    return month_name

In [7]:
present_month = get_month_name(present_data)
present_month

'Jul 2025'

In [8]:
past_month = get_month_name(past_data)
past_month

'Jun 2025'

In [9]:
present_data['Order Date/Time'] = pd.to_datetime(present_data['Order Date/Time'])

In [10]:
present_data.head()

,Order Date/Time,Order No.,Name,Address,Phone,Due Date,Pcs.,Weight,Gross Amount,Discount,Net Amount,Paid,Balance
0,2025-07-01,052-01685,ishani,hampton park B901,9723423643,"06 Jul, 2025",28,NaN,2450,0.0,2450.0,2450,0
1,2025-07-01,052-01686,Neha Agarwal,"C 901, Fiona, Next to Siddhivinayak temple",9925121243,"06 Jul, 2025",2,NaN,260,0.0,260.0,260,0
2,2025-07-01,052-01687,Stuti Doshi,"D-204, Jolly Residency, Vesu",9824516012,"06 Jul, 2025",3,0.0,180,0.0,180.0,0,180
3,2025-07-01,052-01688,Priyanka Kothari,"B-401.Sapphire Court, Vesu",9099639469,"06 Jul, 2025",1,NaN,60,0.0,60.0,60,0
4,2025-07-01,052-01690,Pallvi Agrawal,"B-601, Emotion, Expression, near shyam mandir,...",9624822004,"06 Jul, 2025",6,0.0,270,0.0,270.0,270,0

In [11]:
present_data.tail()

,Order Date/Time,Order No.,Name,Address,Phone,Due Date,Pcs.,Weight,Gross Amount,Discount,Net Amount,Paid,Balance
149,2025-07-31,052-01876,Deepak bhai,"A-501, The Evolution",9824144884,"05 Aug, 2025",9,NaN,630,189.0,441.0,0,441
150,2025-07-31,052-01877,om studio,Vesu cannon street om studio,9898022113,"05 Aug, 2025",1,NaN,250,0.0,250.0,0,250
151,2025-07-31,052-01878,falguni,fiona B1102,9586005322,"05 Aug, 2025",11,0.0,405,0.0,405.0,0,405
152,2025-07-31,052-01879,poja,Vesu,8780113488,"05 Aug, 2025",5,0.0,140,0.0,140.0,140,0
153,2025-07-31,052-01880,Samir,"I-736, Star Galaxy, Vesu",9825382832,"05 Aug, 2025",13,0.0,420,29.4,390.6,0,391

In [12]:
def get_revenue(month):
    revenue = month['Net Amount'].sum()
    return revenue

In [13]:
present_revenue = float(get_revenue(present_data))
print(present_revenue)

82114.04999999999

In [14]:
def get_mvc(month):
    customers_list = month.groupby('Phone').agg({
        "Name": "first",
        "Address": "first",
        "Discount": "sum",
        "Net Amount": "sum",
        "Order Date/Time": "first"
    }).sort_values(by='Net Amount',ascending=False).reset_index()
    return customers_list

In [15]:
present_customers = get_mvc(present_data)
present_customers = present_customers.rename(columns={'Order Date/Time': 'Date'})
present_customers

,Phone,Name,Address,Discount,Net Amount,Date
0,7665340302,deva park infinity,ALTHAN,480.0,6360.0,2025-07-09
1,9979366815,Jhunjhunwala,"A-1002, Rajhans Cosmic, Vesu",1142.0,4568.0,2025-07-04
2,8108349933,mihir,celebrity greens D2 301,0.0,3750.0,2025-07-09
3,9825108845,jenish doshi,Vesu,0.0,3200.0,2025-07-18
4,9012406659,k.p,Vesu,0.0,3120.0,2025-07-24
...,...,...,...,...,...,...
66,8780331212,babita,rajhans sinfoniya B805,0.0,120.0,2025-07-08
67,9825118388,rajesh shah,Vesu,0.0,120.0,2025-07-30
68,9664784636,avi raj,Vesu,0.0,120.0,2025-07-21
69,9833869913,nirali shah,piplodd,0.0,120.0,2025-07-18
70,9978465032,Amit Kachlaani,Cannon Street 1,37.5,112.5,2025-07-18

In [16]:
past_customers = get_mvc(past_data)
past_customers

,Phone,Name,Address,Discount,Net Amount,Order Date/Time
0,9624004792,Leher Thakur,"C-201, Aakash Evergreen, Vesu",132.0,5638.0,2025-06-03
1,9979366815,Jhunjhunwala,"A-1002, Rajhans Cosmic, Vesu",1248.0,4992.0,2025-06-02
2,9825108845,jenish doshi,Vesu,421.0,3789.0,2025-06-17
3,9016242079,anupama,jolly H601,0.0,2870.0,2025-06-04
4,9099016668,Niriksha Daga,"S-2,901, Happy Excelencia, Vesu",686.0,2744.0,2025-06-04
5,9624822004,Pallvi Agrawal,"B-601, Emotion, Expression, near shyam mandir,...",0.0,2570.0,2025-06-02
6,9712925780,Paras Shah,"D-801, Flourence, Vesu",732.5,2197.5,2025-06-04
7,9998585310,hitesh kachhani,Vesu canon street,0.0,2160.0,2025-06-26
8,7574038858,Yash bagre,"A-1303, Royal Regency, Vesu",0.0,1860.0,2025-06-21
9,9891976976,mayank tyagi,B1002 sarmya apartment opp terapanth citilight,450.0,1800.0,2025-06-02
10,9825382832,Samir,"I-736, Star Galaxy, Vesu",0.0,1665.0,2025-06-02
11,9958286660,Sonika Singhania,Vesu,0.0,1605.0,2025-06-09
12,9898013351,Palavvi Maheshwari,"Shrungar Residency, near shiv kartik, Vesu",0.0,1500.0,2025-06-14
13,9012406659,k.p,Vesu,0.0,1440.0,2025-06-03
14,9097072693,Ranjana Srinivastav,"Rajhans Royalton, Vesu",0.0,1410.0,2025-06-18
15,8094146999,Isha Raathi,"B-901, Flourence, Vesu",346.0,1384.0,2025-06-03
16,9687422277,saloni,subh anclev A1004,180.0,1285.0,2025-06-14
17,7984976594,Mahek Agrawal,Vesu,0.0,1170.0,2025-06-07
18,9099639469,Priyanka Kothari,"B-401.Sapphire Court, Vesu",0.0,1170.0,2025-06-10
19,9879542032,Nikko,Shubh Enclave,126.0,1134.0,2025-06-10
20,9537890657,mitesh bhai,dumas,0.0,1070.0,2025-06-27
21,9909254187,Nidhi Patel,Abhva,0.0,1020.0,2025-06-25
22,9426153129,Jatanlal Bothra,D 801 Devraj Residency Near Om Turner,252.0,1008.0,2025-06-17
23,8347933800,Shraddha Jain,Sangini Solitaire,0.0,930.0,2025-06-11
24,9825107160,janita saluja,the majestic F 1303,0.0,930.0,2025-06-27
25,6291673385,gourav bagaria,A/B3 green victory,154.5,875.5,2025-06-10
26,8980878542,zota,Vesu,0.0,870.0,2025-06-07
27,9327089115,mitushree soni,althan A1202 marvella residancy,0.0,775.0,2025-06-14
28,6002632768,Tanmay sethia,a 1103 nandan van vesu,192.0,768.0,2025-06-25
29,9694966590,renu,happy glorios G6301,85.0,765.0,2025-06-03
30,8980084840,Roshni,"E-604, Jolly Residency, Vesu",0.0,750.0,2025-06-11
31,9537748909,Samir Bhai,Cannon Street 1,185.0,740.0,2025-06-10
32,9427344342,sakuntla,hemtanpark b901,0.0,740.0,2025-06-25
33,9638222737,sneha juwani,Fiona A401,0.0,650.0,2025-06-18
34,7990567543,Priya Agrawal,Vesu,56.5,508.5,2025-06-26
35,9824144884,Deepak bhai,"A-501, The Evolution",216.0,504.0,2025-06-05
36,9106938198,vandna patel,dream house102,0.0,500.0,2025-06-05
37,9727182884,salman salon,Vesu cannon street 1,0.0,500.0,2025-06-17
38,9898729181,Vivek Ahuja,"G-2,Cannon Street 1, Vesu",0.0,500.0,2025-06-03
39,7081797878,shiva suwalka,Vesu aagam hotel nova 306,0.0,480.0,2025-06-05
40,8306540657,abhi,d 301 sangini vedanta,0.0,460.0,2025-06-04
41,9555965750,jinali,vesu,0.0,439.0,2025-06-30
42,9898022113,om studio,Vesu cannon street om studio,0.0,425.0,2025-06-10
43,8160833677,karishma murarka,althan D 916 sentosa heights,0.0,375.0,2025-06-16
44,9537547555,kavita mehta,"The Atmoshphere, Vesu B201",0.0,310.0,2025-06-14
45,9971599922,Samir Bhai,Vesu hemton park B301,0.0,300.0,2025-06-25
46,7047366468,harsh,Vesu,0.0,300.0,2025-06-02
47,8780331212,babita,rajhans sinfoniya B805,0.0,300.0,2025-06-10
48,9898169655,vashar preet,Vesu B2 501 celebrity greens,0.0,280.0,2025-06-23
49,9510070156,Radhika Mishra,Vesu,0.0,260.0,2025-06-05
50,9824119894,Manisha Dalmia,Vesu,0.0,250.0,2025-06-02
51,9724198940,neha shah,vesu,0.0,250.0,2025-06-25
52,9974173433,sourav,jolly A1304,0.0,240.0,2025-06-19
53,8511031011,shradha jain,dev raj residancy D801,0.0,180.0,2025-06-17
54,9574802367,amar singh,Vesu,0.0,180.0,2025-06-02
55,7698173840,dr abhilasha,Vesu,0.0,160.0,2025-06-05
56,9925234690,Abhilasa Agrawal,Nalanda,30.0,120.0,2025-06-25
57,7873944244,Rishi,"20, Siddhi Row House, Vesu",0.0,75.0,2025-06-25
58,9512504076,amar singh,Vesu,0.0,75.0,2025-06-11

In [17]:
new_cst_list = {"Name":[],"Mobile No":[],"Address":[],"Month_Year":[], "Date":[]}
repeating_cst_list = {"Name":[],"Mobile No":[],"Address":[],"Month_Year":[], "Date":[]}
for row in present_customers.itertuples(index=False):
    if row.Phone not in customer_list['Mobile No'].values:
        new_cst_list['Name'].append(row.Name)
        new_cst_list['Mobile No'].append(row.Phone)
        new_cst_list['Address'].append(row.Address)
        new_cst_list['Month_Year'].append(present_month)
        new_cst_list['Date'].append(row.Date)
    elif row.Phone in customer_list['Mobile No'].values:
        repeating_cst_list['Name'].append(row.Name)
        repeating_cst_list['Mobile No'].append(row.Phone)
        repeating_cst_list['Address'].append(row.Address)
        repeating_cst_list['Month_Year'].append(present_month)
        repeating_cst_list['Date'].append(row.Date)

In [18]:
repeating_cst_lastmonth_list = {"Name":[],"Mobile No":[],"Address":[],"Month_Year":[], "Date":[]}
for row in present_customers.itertuples(index=False):
    if row.Phone in past_customers['Phone'].values:
        repeating_cst_lastmonth_list['Name'].append(row.Name)
        repeating_cst_lastmonth_list['Mobile No'].append(row.Phone)
        repeating_cst_lastmonth_list['Address'].append(row.Address)
        repeating_cst_lastmonth_list['Month_Year'].append(present_month)
        repeating_cst_lastmonth_list['Date'].append(row.Date)

In [19]:
new_cst_df = pd.DataFrame(new_cst_list)
new_cst_df

,Name,Mobile No,Address,Month_Year,Date
0,deva park infinity,7665340302,ALTHAN,Jul 2025,2025-07-09
1,mihir,8108349933,celebrity greens D2 301,Jul 2025,2025-07-09
2,himansu,9818580296,swapna bhumi D603,Jul 2025,2025-07-07
3,jayshree vayeda,8200812058,Vesu shubhan B1004,Jul 2025,2025-07-01
4,aasha agrwal,9327922291,capital green,Jul 2025,2025-07-22
5,ishani,9723423643,hampton park B901,Jul 2025,2025-07-01
6,shuruchi,9687618848,401 maarquis hitsh,Jul 2025,2025-07-15
7,aagam,9974842906,celibrity green B2 501,Jul 2025,2025-07-26
8,foram,7359724111,Vesu,Jul 2025,2025-07-22
9,sureshbhai,7080296220,Vesu,Jul 2025,2025-07-02
10,falguni,9586005322,fiona B1102,Jul 2025,2025-07-31
11,mukesh,9820019283,Vesu,Jul 2025,2025-07-24
12,tanish jain,7984925177,green vally G415,Jul 2025,2025-07-22
13,Harsha,9977937276,Vesu,Jul 2025,2025-07-30
14,priyanshu,9016717039,maarqiuis hights 401,Jul 2025,2025-07-26
15,vanita,9099921981,Vesu,Jul 2025,2025-07-24
16,poja,8780113488,Vesu,Jul 2025,2025-07-31
17,nikunj,9978062856,Vesu,Jul 2025,2025-07-16
18,suman,9327955366,dream house 203,Jul 2025,2025-07-07
19,rajesh shah,9825118388,Vesu,Jul 2025,2025-07-30
20,avi raj,9664784636,Vesu,Jul 2025,2025-07-21
21,nirali shah,9833869913,piplodd,Jul 2025,2025-07-18

In [20]:
new_cst_df_temp = new_cst_df[customer_list.columns]
new_cst_df_temp

                  Name   Mobile No                  Address Month_Year
0   deva park infinity  7665340302                   ALTHAN   Jul 2025
1                mihir  8108349933  celebrity greens D2 301   Jul 2025
2              himansu  9818580296        swapna bhumi D603   Jul 2025
3      jayshree vayeda  8200812058       Vesu shubhan B1004   Jul 2025
4         aasha agrwal  9327922291            capital green   Jul 2025
5               ishani  9723423643        hampton park B901   Jul 2025
6             shuruchi  9687618848       401 maarquis hitsh   Jul 2025
7                aagam  9974842906   celibrity green B2 501   Jul 2025
8                foram  7359724111                     Vesu   Jul 2025
9           sureshbhai  7080296220                     Vesu   Jul 2025
10             falguni  9586005322              fiona B1102   Jul 2025
11              mukesh  9820019283                     Vesu   Jul 2025
12         tanish jain  7984925177         green vally G415   Jul 2025
13              Harsha  9977937276                     Vesu   Jul 2025
14           priyanshu  9016717039     maarqiuis hights 401   Jul 2025
15              vanita  9099921981                     Vesu   Jul 2025
16                poja  8780113488                     Vesu   Jul 2025
17              nikunj  9978062856                     Vesu   Jul 2025
18               suman  9327955366          dream house 203   Jul 2025
19         rajesh shah  9825118388                     Vesu   Jul 2025
20             avi raj  9664784636                     Vesu   Jul 2025
21         nirali shah  9833869913                  piplodd   Jul 2025

In [21]:
updated_cst_list = pd.concat([customer_list,new_cst_df_temp],ignore_index=True)
updated_cst_list

,Name,Mobile No,Address,Month_Year
0,Arise Decor,9998000543,"114,Cannon Street 1, Vesu, Surat",Aug 2024
1,Yatharth Raathi,9969604584,"B/702, White Wings Torrance, Canal Road, GD go...",Aug 2024
2,Saket Khanuri,9493918393,"Bhabha Bhavan, SVNIT, Surat",Aug 2024
3,Aastha Bansal,9723392441,"B112, Kalpana Society, Part-2, Near Jain Deras...",Aug 2024
4,Jayantilal Mehta,9316400537,Vesu,Aug 2024
...,...,...,...,...
342,nikunj,9978062856,Vesu,Jul 2025
343,suman,9327955366,dream house 203,Jul 2025
344,rajesh shah,9825118388,Vesu,Jul 2025
345,avi raj,9664784636,Vesu,Jul 2025
346,nirali shah,9833869913,piplodd,Jul 2025

In [22]:
updated_cst_list.to_excel('Spreadsheets/Customer_list.xlsx',index=False)

In [23]:
rep_cst_df = pd.DataFrame(repeating_cst_list)
rep_cst_df

,Name,Mobile No,Address,Month_Year,Date
0,Jhunjhunwala,9979366815,"A-1002, Rajhans Cosmic, Vesu",Jul 2025,2025-07-04
1,jenish doshi,9825108845,Vesu,Jul 2025,2025-07-18
2,k.p,9012406659,Vesu,Jul 2025,2025-07-24
3,mayank tyagi,9891976976,B1002 sarmya apartment opp terapanth citilight,Jul 2025,2025-07-03
4,Isha Raathi,8094146999,"B-901, Flourence, Vesu",Jul 2025,2025-07-07
5,saloni,9687422277,subh anclev A1004,Jul 2025,2025-07-04
6,Leher Thakur,9624004792,"C-201, Aakash Evergreen, Vesu",Jul 2025,2025-07-07
7,Deepak bhai,9824144884,"A-501, The Evolution",Jul 2025,2025-07-03
8,Niriksha Daga,9099016668,"S-2,901, Happy Excelencia, Vesu",Jul 2025,2025-07-12
9,Nikko,9879542032,Shubh Enclave,Jul 2025,2025-07-04
10,Paras Shah,9712925780,"D-801, Flourence, Vesu",Jul 2025,2025-07-03
11,anupama,9016242079,jolly H601,Jul 2025,2025-07-07
12,Meera Rathod,9033540403,"B-1301, Hempton Park, Vesu",Jul 2025,2025-07-05
13,Sanju Thirewal,8320925876,"A-1102, Shobhan Residency, Vesu",Jul 2025,2025-07-26
14,Jatanlal Bothra,9426153129,D 801 Devraj Residency Near Om Turner,Jul 2025,2025-07-03
15,Pallvi Agrawal,9624822004,"B-601, Emotion, Expression, near shyam mandir,...",Jul 2025,2025-07-01
16,yashvi SINGHAN,9408120230,STAR GALAXY G-325,Jul 2025,2025-07-28
17,Vidhi,9265622687,"B-102, The Atmosphere",Jul 2025,2025-07-18
18,gourav bagaria,6291673385,A/B3 green victory,Jul 2025,2025-07-18
19,Aashish Agrawal,9898183338,"Rajhans Grandeza, Vesu",Jul 2025,2025-07-10
20,Roshni,8980084840,"E-604, Jolly Residency, Vesu",Jul 2025,2025-07-07
21,zota,8980878542,Vesu,Jul 2025,2025-07-05
22,gavtabhai narnave,7875055627,hotel sunrise AGAM,Jul 2025,2025-07-31
23,Samir Bhai,9537748909,Cannon Street 1,Jul 2025,2025-07-07
24,Poonam Jain,9825674730,"Sangini Siddhanta, Vesu",Jul 2025,2025-07-05
25,Tanmay sethia,6002632768,a 1103 nandan van vesu,Jul 2025,2025-07-18
26,Yash bagre,7574038858,"A-1303, Royal Regency, Vesu",Jul 2025,2025-07-10
27,hitesh kachhani,9998585310,Vesu canon street,Jul 2025,2025-07-08
28,om studio,9898022113,Vesu cannon street om studio,Jul 2025,2025-07-21
29,abhi,8306540657,d 301 sangini vedanta,Jul 2025,2025-07-18
30,Abhilasa Agrawal,9925234690,Nalanda,Jul 2025,2025-07-15
31,jinali,9555965750,vesu,Jul 2025,2025-07-08
32,Amisha Shah,9428055360,"Flourence G-502, Vesu, Surat",Jul 2025,2025-07-15
33,Pinky Agrawal,7229089044,"101,Nalanda, Vesu",Jul 2025,2025-07-12
34,Chiragbhai,9879276468,"D-602, Union Residency, Vesu",Jul 2025,2025-07-07
35,Samir,9825382832,"I-736, Star Galaxy, Vesu",Jul 2025,2025-07-31
36,Aashita Rathi,9322721744,"B-702, White Wings Torrence, Vesu,Surat",Jul 2025,2025-07-09
37,sneha juwani,9638222737,Fiona A401,Jul 2025,2025-07-09
38,Priyanka Kothari,9099639469,"B-401.Sapphire Court, Vesu",Jul 2025,2025-07-01
39,Neha Agarwal,9925121243,"C 901, Fiona, Next to Siddhivinayak temple",Jul 2025,2025-07-01
40,sourav,9974173433,jolly A1304,Jul 2025,2025-07-08
41,Soniya,7572853691,"Ravi Ratnam, Vesi",Jul 2025,2025-07-16
42,vashar preet,9898169655,Vesu B2 501 celebrity greens,Jul 2025,2025-07-22
43,Stuti Doshi,9824516012,"D-204, Jolly Residency, Vesu",Jul 2025,2025-07-01
44,mitesh bhai,9537890657,dumas,Jul 2025,2025-07-10
45,Mapple Leaf A-302,8799474449,"A-302, Mapple Leaf Apartment, Dumas Road",Jul 2025,2025-07-08
46,Priya Agrawal,7990567543,Vesu,Jul 2025,2025-07-10
47,babita,8780331212,rajhans sinfoniya B805,Jul 2025,2025-07-08
48,Amit Kachlaani,9978465032,Cannon Street 1,Jul 2025,2025-07-18

In [24]:
rep_cst_lm_df = pd.DataFrame(repeating_cst_lastmonth_list)
rep_cst_lm_df

,Name,Mobile No,Address,Month_Year,Date
0,Jhunjhunwala,9979366815,"A-1002, Rajhans Cosmic, Vesu",Jul 2025,2025-07-04
1,jenish doshi,9825108845,Vesu,Jul 2025,2025-07-18
2,k.p,9012406659,Vesu,Jul 2025,2025-07-24
3,mayank tyagi,9891976976,B1002 sarmya apartment opp terapanth citilight,Jul 2025,2025-07-03
4,Isha Raathi,8094146999,"B-901, Flourence, Vesu",Jul 2025,2025-07-07
5,saloni,9687422277,subh anclev A1004,Jul 2025,2025-07-04
6,Leher Thakur,9624004792,"C-201, Aakash Evergreen, Vesu",Jul 2025,2025-07-07
7,Deepak bhai,9824144884,"A-501, The Evolution",Jul 2025,2025-07-03
8,Niriksha Daga,9099016668,"S-2,901, Happy Excelencia, Vesu",Jul 2025,2025-07-12
9,Nikko,9879542032,Shubh Enclave,Jul 2025,2025-07-04
10,Paras Shah,9712925780,"D-801, Flourence, Vesu",Jul 2025,2025-07-03
11,anupama,9016242079,jolly H601,Jul 2025,2025-07-07
12,Jatanlal Bothra,9426153129,D 801 Devraj Residency Near Om Turner,Jul 2025,2025-07-03
13,Pallvi Agrawal,9624822004,"B-601, Emotion, Expression, near shyam mandir,...",Jul 2025,2025-07-01
14,gourav bagaria,6291673385,A/B3 green victory,Jul 2025,2025-07-18
15,Roshni,8980084840,"E-604, Jolly Residency, Vesu",Jul 2025,2025-07-07
16,zota,8980878542,Vesu,Jul 2025,2025-07-05
17,Samir Bhai,9537748909,Cannon Street 1,Jul 2025,2025-07-07
18,Tanmay sethia,6002632768,a 1103 nandan van vesu,Jul 2025,2025-07-18
19,Yash bagre,7574038858,"A-1303, Royal Regency, Vesu",Jul 2025,2025-07-10
20,hitesh kachhani,9998585310,Vesu canon street,Jul 2025,2025-07-08
21,om studio,9898022113,Vesu cannon street om studio,Jul 2025,2025-07-21
22,abhi,8306540657,d 301 sangini vedanta,Jul 2025,2025-07-18
23,Abhilasa Agrawal,9925234690,Nalanda,Jul 2025,2025-07-15
24,jinali,9555965750,vesu,Jul 2025,2025-07-08
25,Samir,9825382832,"I-736, Star Galaxy, Vesu",Jul 2025,2025-07-31
26,sneha juwani,9638222737,Fiona A401,Jul 2025,2025-07-09
27,Priyanka Kothari,9099639469,"B-401.Sapphire Court, Vesu",Jul 2025,2025-07-01
28,sourav,9974173433,jolly A1304,Jul 2025,2025-07-08
29,vashar preet,9898169655,Vesu B2 501 celebrity greens,Jul 2025,2025-07-22
30,mitesh bhai,9537890657,dumas,Jul 2025,2025-07-10
31,Priya Agrawal,7990567543,Vesu,Jul 2025,2025-07-10
32,babita,8780331212,rajhans sinfoniya B805,Jul 2025,2025-07-08

In [25]:
print(f'-----New Customers=> Total:{len(new_cst_df)}-----')
for name in new_cst_df.Name.values:
    print(name)

-----New Customers=> Total:22-----
deva park infinity
mihir
himansu
jayshree vayeda
aasha agrwal
ishani
shuruchi
aagam
foram
sureshbhai
falguni
mukesh
tanish jain
Harsha
priyanshu
vanita
poja
nikunj
suman
rajesh shah
avi raj
nirali shah

In [26]:
print(f'-----Repeating Customers=> Total:{len(rep_cst_df)}-----')
for cst in rep_cst_df.Name.values:
    print(cst)

-----Repeating Customers=> Total:49-----
Jhunjhunwala
jenish doshi
k.p
mayank tyagi
Isha Raathi
saloni
Leher Thakur
Deepak bhai
Niriksha Daga
Nikko
Paras Shah
anupama
Meera Rathod
Sanju Thirewal
Jatanlal Bothra
Pallvi Agrawal
yashvi SINGHAN
Vidhi
gourav bagaria
Aashish Agrawal
Roshni
zota
gavtabhai narnave
Samir Bhai
Poonam Jain
Tanmay sethia
Yash bagre
hitesh kachhani
om studio
abhi
Abhilasa Agrawal
jinali
Amisha Shah
Pinky Agrawal
Chiragbhai
Samir
Aashita Rathi
sneha juwani
Priyanka Kothari
Neha Agarwal
sourav
Soniya
vashar preet
Stuti Doshi
mitesh bhai
Mapple Leaf A-302
Priya Agrawal
babita
Amit Kachlaani

In [27]:
print(f'-----Repeating Customers from Last Month=> Total:{len(rep_cst_lm_df)}-----')
for cst in rep_cst_lm_df.Name.values:
    print(cst)

-----Repeating Customers from Last Month=> Total:33-----
Jhunjhunwala
jenish doshi
k.p
mayank tyagi
Isha Raathi
saloni
Leher Thakur
Deepak bhai
Niriksha Daga
Nikko
Paras Shah
anupama
Jatanlal Bothra
Pallvi Agrawal
gourav bagaria
Roshni
zota
Samir Bhai
Tanmay sethia
Yash bagre
hitesh kachhani
om studio
abhi
Abhilasa Agrawal
jinali
Samir
sneha juwani
Priyanka Kothari
sourav
vashar preet
mitesh bhai
Priya Agrawal
babita

In [28]:
retention_rate = (len(rep_cst_df)/len(customer_list)) * 100
retention_rate = round(retention_rate,2)
print('Retention Rate: ',retention_rate)

Retention Rate:  15.08

In [29]:
last_month_rr = (len(rep_cst_lm_df)/len(past_customers)) * 100
last_month_rr = round(last_month_rr,2)
print('Last month Retention Rate: ',last_month_rr)

Last month Retention Rate:  55.93

In [30]:
df_summary = pd.DataFrame([{
    'Total Revenue': present_revenue,
    'Total Order': present_data['Order No.'].count(),
}])
df_summary

   Total Revenue  Total Order
0       82114.05          154

In [31]:
df_customers = pd.DataFrame({
    "Total Customers": len(present_customers),
    "New Cst": [len(new_cst_df)],
    "Repeating Cst": [len(rep_cst_df)],
    "Repeating Cst from Last Month": [len(rep_cst_lm_df)],
    "Retention Rate": f'{retention_rate}%',
    "R.R wrt. Last Month": f'{last_month_rr}%'
})
df_customers

,Total Customers,New Cst,Repeating Cst,Repeating Cst from Last Month,Retention Rate,R.R wrt. Last Month
0,71,22,49,33,15.08%,55.93%

In [32]:
def get_week_of_month(d):
    if pd.isnull(d): return None  # handle nulls
    first_day = d.replace(day=1)
    dom = d.day
    adjusted_dom = dom + first_day.weekday()
    return int((adjusted_dom - 1) / 7 + 1)

In [33]:
new_cst_df['Week'] = new_cst_df['Date'].apply(get_week_of_month)
new_cst_df

,Name,Mobile No,Address,Month_Year,Date,Week
0,deva park infinity,7665340302,ALTHAN,Jul 2025,2025-07-09,2
1,mihir,8108349933,celebrity greens D2 301,Jul 2025,2025-07-09,2
2,himansu,9818580296,swapna bhumi D603,Jul 2025,2025-07-07,2
3,jayshree vayeda,8200812058,Vesu shubhan B1004,Jul 2025,2025-07-01,1
4,aasha agrwal,9327922291,capital green,Jul 2025,2025-07-22,4
5,ishani,9723423643,hampton park B901,Jul 2025,2025-07-01,1
6,shuruchi,9687618848,401 maarquis hitsh,Jul 2025,2025-07-15,3
7,aagam,9974842906,celibrity green B2 501,Jul 2025,2025-07-26,4
8,foram,7359724111,Vesu,Jul 2025,2025-07-22,4
9,sureshbhai,7080296220,Vesu,Jul 2025,2025-07-02,1
10,falguni,9586005322,fiona B1102,Jul 2025,2025-07-31,5
11,mukesh,9820019283,Vesu,Jul 2025,2025-07-24,4
12,tanish jain,7984925177,green vally G415,Jul 2025,2025-07-22,4
13,Harsha,9977937276,Vesu,Jul 2025,2025-07-30,5
14,priyanshu,9016717039,maarqiuis hights 401,Jul 2025,2025-07-26,4
15,vanita,9099921981,Vesu,Jul 2025,2025-07-24,4
16,poja,8780113488,Vesu,Jul 2025,2025-07-31,5
17,nikunj,9978062856,Vesu,Jul 2025,2025-07-16,3
18,suman,9327955366,dream house 203,Jul 2025,2025-07-07,2
19,rajesh shah,9825118388,Vesu,Jul 2025,2025-07-30,5
20,avi raj,9664784636,Vesu,Jul 2025,2025-07-21,4
21,nirali shah,9833869913,piplodd,Jul 2025,2025-07-18,3

In [34]:
new_cst_week = new_cst_df.groupby('Week').size().reset_index(name='Cst Count')
new_cst_week

   Week  Cst Count
0     1          3
1     2          4
2     3          3
3     4          8
4     5          4

In [35]:
new_cst_df['Day'] = new_cst_df['Date'].dt.day_name()
new_cst_df

,Name,Mobile No,Address,Month_Year,Date,Week,Day
0,deva park infinity,7665340302,ALTHAN,Jul 2025,2025-07-09,2,Wednesday
1,mihir,8108349933,celebrity greens D2 301,Jul 2025,2025-07-09,2,Wednesday
2,himansu,9818580296,swapna bhumi D603,Jul 2025,2025-07-07,2,Monday
3,jayshree vayeda,8200812058,Vesu shubhan B1004,Jul 2025,2025-07-01,1,Tuesday
4,aasha agrwal,9327922291,capital green,Jul 2025,2025-07-22,4,Tuesday
5,ishani,9723423643,hampton park B901,Jul 2025,2025-07-01,1,Tuesday
6,shuruchi,9687618848,401 maarquis hitsh,Jul 2025,2025-07-15,3,Tuesday
7,aagam,9974842906,celibrity green B2 501,Jul 2025,2025-07-26,4,Saturday
8,foram,7359724111,Vesu,Jul 2025,2025-07-22,4,Tuesday
9,sureshbhai,7080296220,Vesu,Jul 2025,2025-07-02,1,Wednesday
10,falguni,9586005322,fiona B1102,Jul 2025,2025-07-31,5,Thursday
11,mukesh,9820019283,Vesu,Jul 2025,2025-07-24,4,Thursday
12,tanish jain,7984925177,green vally G415,Jul 2025,2025-07-22,4,Tuesday
13,Harsha,9977937276,Vesu,Jul 2025,2025-07-30,5,Wednesday
14,priyanshu,9016717039,maarqiuis hights 401,Jul 2025,2025-07-26,4,Saturday
15,vanita,9099921981,Vesu,Jul 2025,2025-07-24,4,Thursday
16,poja,8780113488,Vesu,Jul 2025,2025-07-31,5,Thursday
17,nikunj,9978062856,Vesu,Jul 2025,2025-07-16,3,Wednesday
18,suman,9327955366,dream house 203,Jul 2025,2025-07-07,2,Monday
19,rajesh shah,9825118388,Vesu,Jul 2025,2025-07-30,5,Wednesday
20,avi raj,9664784636,Vesu,Jul 2025,2025-07-21,4,Monday
21,nirali shah,9833869913,piplodd,Jul 2025,2025-07-18,3,Friday

In [36]:
new_cst_day = new_cst_df.groupby('Day').size().reset_index(name='Cst Count')
new_cst_day

         Day  Cst Count
0     Friday          1
1     Monday          3
2   Saturday          2
3   Thursday          4
4    Tuesday          6
5  Wednesday          6

In [37]:
rep_cst_df['Week'] = rep_cst_df['Date'].apply(get_week_of_month)
rep_cst_df

,Name,Mobile No,Address,Month_Year,Date,Week
0,Jhunjhunwala,9979366815,"A-1002, Rajhans Cosmic, Vesu",Jul 2025,2025-07-04,1
1,jenish doshi,9825108845,Vesu,Jul 2025,2025-07-18,3
2,k.p,9012406659,Vesu,Jul 2025,2025-07-24,4
3,mayank tyagi,9891976976,B1002 sarmya apartment opp terapanth citilight,Jul 2025,2025-07-03,1
4,Isha Raathi,8094146999,"B-901, Flourence, Vesu",Jul 2025,2025-07-07,2
5,saloni,9687422277,subh anclev A1004,Jul 2025,2025-07-04,1
6,Leher Thakur,9624004792,"C-201, Aakash Evergreen, Vesu",Jul 2025,2025-07-07,2
7,Deepak bhai,9824144884,"A-501, The Evolution",Jul 2025,2025-07-03,1
8,Niriksha Daga,9099016668,"S-2,901, Happy Excelencia, Vesu",Jul 2025,2025-07-12,2
9,Nikko,9879542032,Shubh Enclave,Jul 2025,2025-07-04,1
10,Paras Shah,9712925780,"D-801, Flourence, Vesu",Jul 2025,2025-07-03,1
11,anupama,9016242079,jolly H601,Jul 2025,2025-07-07,2
12,Meera Rathod,9033540403,"B-1301, Hempton Park, Vesu",Jul 2025,2025-07-05,1
13,Sanju Thirewal,8320925876,"A-1102, Shobhan Residency, Vesu",Jul 2025,2025-07-26,4
14,Jatanlal Bothra,9426153129,D 801 Devraj Residency Near Om Turner,Jul 2025,2025-07-03,1
15,Pallvi Agrawal,9624822004,"B-601, Emotion, Expression, near shyam mandir,...",Jul 2025,2025-07-01,1
16,yashvi SINGHAN,9408120230,STAR GALAXY G-325,Jul 2025,2025-07-28,5
17,Vidhi,9265622687,"B-102, The Atmosphere",Jul 2025,2025-07-18,3
18,gourav bagaria,6291673385,A/B3 green victory,Jul 2025,2025-07-18,3
19,Aashish Agrawal,9898183338,"Rajhans Grandeza, Vesu",Jul 2025,2025-07-10,2
20,Roshni,8980084840,"E-604, Jolly Residency, Vesu",Jul 2025,2025-07-07,2
21,zota,8980878542,Vesu,Jul 2025,2025-07-05,1
22,gavtabhai narnave,7875055627,hotel sunrise AGAM,Jul 2025,2025-07-31,5
23,Samir Bhai,9537748909,Cannon Street 1,Jul 2025,2025-07-07,2
24,Poonam Jain,9825674730,"Sangini Siddhanta, Vesu",Jul 2025,2025-07-05,1
25,Tanmay sethia,6002632768,a 1103 nandan van vesu,Jul 2025,2025-07-18,3
26,Yash bagre,7574038858,"A-1303, Royal Regency, Vesu",Jul 2025,2025-07-10,2
27,hitesh kachhani,9998585310,Vesu canon street,Jul 2025,2025-07-08,2
28,om studio,9898022113,Vesu cannon street om studio,Jul 2025,2025-07-21,4
29,abhi,8306540657,d 301 sangini vedanta,Jul 2025,2025-07-18,3
30,Abhilasa Agrawal,9925234690,Nalanda,Jul 2025,2025-07-15,3
31,jinali,9555965750,vesu,Jul 2025,2025-07-08,2
32,Amisha Shah,9428055360,"Flourence G-502, Vesu, Surat",Jul 2025,2025-07-15,3
33,Pinky Agrawal,7229089044,"101,Nalanda, Vesu",Jul 2025,2025-07-12,2
34,Chiragbhai,9879276468,"D-602, Union Residency, Vesu",Jul 2025,2025-07-07,2
35,Samir,9825382832,"I-736, Star Galaxy, Vesu",Jul 2025,2025-07-31,5
36,Aashita Rathi,9322721744,"B-702, White Wings Torrence, Vesu,Surat",Jul 2025,2025-07-09,2
37,sneha juwani,9638222737,Fiona A401,Jul 2025,2025-07-09,2
38,Priyanka Kothari,9099639469,"B-401.Sapphire Court, Vesu",Jul 2025,2025-07-01,1
39,Neha Agarwal,9925121243,"C 901, Fiona, Next to Siddhivinayak temple",Jul 2025,2025-07-01,1
40,sourav,9974173433,jolly A1304,Jul 2025,2025-07-08,2
41,Soniya,7572853691,"Ravi Ratnam, Vesi",Jul 2025,2025-07-16,3
42,vashar preet,9898169655,Vesu B2 501 celebrity greens,Jul 2025,2025-07-22,4
43,Stuti Doshi,9824516012,"D-204, Jolly Residency, Vesu",Jul 2025,2025-07-01,1
44,mitesh bhai,9537890657,dumas,Jul 2025,2025-07-10,2
45,Mapple Leaf A-302,8799474449,"A-302, Mapple Leaf Apartment, Dumas Road",Jul 2025,2025-07-08,2
46,Priya Agrawal,7990567543,Vesu,Jul 2025,2025-07-10,2
47,babita,8780331212,rajhans sinfoniya B805,Jul 2025,2025-07-08,2
48,Amit Kachlaani,9978465032,Cannon Street 1,Jul 2025,2025-07-18,3

In [38]:
rep_cst_week = rep_cst_df.groupby("Week").size().reset_index(name="Cst Count")
rep_cst_week

   Week  Cst Count
0     1         14
1     2         19
2     3          9
3     4          4
4     5          3

In [39]:
rep_cst_df['Day'] = rep_cst_df['Date'].dt.day_name()
rep_cst_df

,Name,Mobile No,Address,Month_Year,Date,Week,Day
0,Jhunjhunwala,9979366815,"A-1002, Rajhans Cosmic, Vesu",Jul 2025,2025-07-04,1,Friday
1,jenish doshi,9825108845,Vesu,Jul 2025,2025-07-18,3,Friday
2,k.p,9012406659,Vesu,Jul 2025,2025-07-24,4,Thursday
3,mayank tyagi,9891976976,B1002 sarmya apartment opp terapanth citilight,Jul 2025,2025-07-03,1,Thursday
4,Isha Raathi,8094146999,"B-901, Flourence, Vesu",Jul 2025,2025-07-07,2,Monday
5,saloni,9687422277,subh anclev A1004,Jul 2025,2025-07-04,1,Friday
6,Leher Thakur,9624004792,"C-201, Aakash Evergreen, Vesu",Jul 2025,2025-07-07,2,Monday
7,Deepak bhai,9824144884,"A-501, The Evolution",Jul 2025,2025-07-03,1,Thursday
8,Niriksha Daga,9099016668,"S-2,901, Happy Excelencia, Vesu",Jul 2025,2025-07-12,2,Saturday
9,Nikko,9879542032,Shubh Enclave,Jul 2025,2025-07-04,1,Friday
10,Paras Shah,9712925780,"D-801, Flourence, Vesu",Jul 2025,2025-07-03,1,Thursday
11,anupama,9016242079,jolly H601,Jul 2025,2025-07-07,2,Monday
12,Meera Rathod,9033540403,"B-1301, Hempton Park, Vesu",Jul 2025,2025-07-05,1,Saturday
13,Sanju Thirewal,8320925876,"A-1102, Shobhan Residency, Vesu",Jul 2025,2025-07-26,4,Saturday
14,Jatanlal Bothra,9426153129,D 801 Devraj Residency Near Om Turner,Jul 2025,2025-07-03,1,Thursday
15,Pallvi Agrawal,9624822004,"B-601, Emotion, Expression, near shyam mandir,...",Jul 2025,2025-07-01,1,Tuesday
16,yashvi SINGHAN,9408120230,STAR GALAXY G-325,Jul 2025,2025-07-28,5,Monday
17,Vidhi,9265622687,"B-102, The Atmosphere",Jul 2025,2025-07-18,3,Friday
18,gourav bagaria,6291673385,A/B3 green victory,Jul 2025,2025-07-18,3,Friday
19,Aashish Agrawal,9898183338,"Rajhans Grandeza, Vesu",Jul 2025,2025-07-10,2,Thursday
20,Roshni,8980084840,"E-604, Jolly Residency, Vesu",Jul 2025,2025-07-07,2,Monday
21,zota,8980878542,Vesu,Jul 2025,2025-07-05,1,Saturday
22,gavtabhai narnave,7875055627,hotel sunrise AGAM,Jul 2025,2025-07-31,5,Thursday
23,Samir Bhai,9537748909,Cannon Street 1,Jul 2025,2025-07-07,2,Monday
24,Poonam Jain,9825674730,"Sangini Siddhanta, Vesu",Jul 2025,2025-07-05,1,Saturday
25,Tanmay sethia,6002632768,a 1103 nandan van vesu,Jul 2025,2025-07-18,3,Friday
26,Yash bagre,7574038858,"A-1303, Royal Regency, Vesu",Jul 2025,2025-07-10,2,Thursday
27,hitesh kachhani,9998585310,Vesu canon street,Jul 2025,2025-07-08,2,Tuesday
28,om studio,9898022113,Vesu cannon street om studio,Jul 2025,2025-07-21,4,Monday
29,abhi,8306540657,d 301 sangini vedanta,Jul 2025,2025-07-18,3,Friday
30,Abhilasa Agrawal,9925234690,Nalanda,Jul 2025,2025-07-15,3,Tuesday
31,jinali,9555965750,vesu,Jul 2025,2025-07-08,2,Tuesday
32,Amisha Shah,9428055360,"Flourence G-502, Vesu, Surat",Jul 2025,2025-07-15,3,Tuesday
33,Pinky Agrawal,7229089044,"101,Nalanda, Vesu",Jul 2025,2025-07-12,2,Saturday
34,Chiragbhai,9879276468,"D-602, Union Residency, Vesu",Jul 2025,2025-07-07,2,Monday
35,Samir,9825382832,"I-736, Star Galaxy, Vesu",Jul 2025,2025-07-31,5,Thursday
36,Aashita Rathi,9322721744,"B-702, White Wings Torrence, Vesu,Surat",Jul 2025,2025-07-09,2,Wednesday
37,sneha juwani,9638222737,Fiona A401,Jul 2025,2025-07-09,2,Wednesday
38,Priyanka Kothari,9099639469,"B-401.Sapphire Court, Vesu",Jul 2025,2025-07-01,1,Tuesday
39,Neha Agarwal,9925121243,"C 901, Fiona, Next to Siddhivinayak temple",Jul 2025,2025-07-01,1,Tuesday
40,sourav,9974173433,jolly A1304,Jul 2025,2025-07-08,2,Tuesday
41,Soniya,7572853691,"Ravi Ratnam, Vesi",Jul 2025,2025-07-16,3,Wednesday
42,vashar preet,9898169655,Vesu B2 501 celebrity greens,Jul 2025,2025-07-22,4,Tuesday
43,Stuti Doshi,9824516012,"D-204, Jolly Residency, Vesu",Jul 2025,2025-07-01,1,Tuesday
44,mitesh bhai,9537890657,dumas,Jul 2025,2025-07-10,2,Thursday
45,Mapple Leaf A-302,8799474449,"A-302, Mapple Leaf Apartment, Dumas Road",Jul 2025,2025-07-08,2,Tuesday
46,Priya Agrawal,7990567543,Vesu,Jul 2025,2025-07-10,2,Thursday
47,babita,8780331212,rajhans sinfoniya B805,Jul 2025,2025-07-08,2,Tuesday
48,Amit Kachlaani,9978465032,Cannon Street 1,Jul 2025,2025-07-18,3,Friday

In [40]:
rep_cst_day = rep_cst_df.groupby('Day').size().reset_index(name="Cst Count")
rep_cst_day

         Day  Cst Count
0     Friday          9
1     Monday          8
2   Saturday          6
3   Thursday         11
4    Tuesday         12
5  Wednesday          3

In [41]:
rep_cst_lm_df['Week'] = rep_cst_lm_df['Date'].apply(get_week_of_month)
rep_cst_lm_df

,Name,Mobile No,Address,Month_Year,Date,Week
0,Jhunjhunwala,9979366815,"A-1002, Rajhans Cosmic, Vesu",Jul 2025,2025-07-04,1
1,jenish doshi,9825108845,Vesu,Jul 2025,2025-07-18,3
2,k.p,9012406659,Vesu,Jul 2025,2025-07-24,4
3,mayank tyagi,9891976976,B1002 sarmya apartment opp terapanth citilight,Jul 2025,2025-07-03,1
4,Isha Raathi,8094146999,"B-901, Flourence, Vesu",Jul 2025,2025-07-07,2
5,saloni,9687422277,subh anclev A1004,Jul 2025,2025-07-04,1
6,Leher Thakur,9624004792,"C-201, Aakash Evergreen, Vesu",Jul 2025,2025-07-07,2
7,Deepak bhai,9824144884,"A-501, The Evolution",Jul 2025,2025-07-03,1
8,Niriksha Daga,9099016668,"S-2,901, Happy Excelencia, Vesu",Jul 2025,2025-07-12,2
9,Nikko,9879542032,Shubh Enclave,Jul 2025,2025-07-04,1
10,Paras Shah,9712925780,"D-801, Flourence, Vesu",Jul 2025,2025-07-03,1
11,anupama,9016242079,jolly H601,Jul 2025,2025-07-07,2
12,Jatanlal Bothra,9426153129,D 801 Devraj Residency Near Om Turner,Jul 2025,2025-07-03,1
13,Pallvi Agrawal,9624822004,"B-601, Emotion, Expression, near shyam mandir,...",Jul 2025,2025-07-01,1
14,gourav bagaria,6291673385,A/B3 green victory,Jul 2025,2025-07-18,3
15,Roshni,8980084840,"E-604, Jolly Residency, Vesu",Jul 2025,2025-07-07,2
16,zota,8980878542,Vesu,Jul 2025,2025-07-05,1
17,Samir Bhai,9537748909,Cannon Street 1,Jul 2025,2025-07-07,2
18,Tanmay sethia,6002632768,a 1103 nandan van vesu,Jul 2025,2025-07-18,3
19,Yash bagre,7574038858,"A-1303, Royal Regency, Vesu",Jul 2025,2025-07-10,2
20,hitesh kachhani,9998585310,Vesu canon street,Jul 2025,2025-07-08,2
21,om studio,9898022113,Vesu cannon street om studio,Jul 2025,2025-07-21,4
22,abhi,8306540657,d 301 sangini vedanta,Jul 2025,2025-07-18,3
23,Abhilasa Agrawal,9925234690,Nalanda,Jul 2025,2025-07-15,3
24,jinali,9555965750,vesu,Jul 2025,2025-07-08,2
25,Samir,9825382832,"I-736, Star Galaxy, Vesu",Jul 2025,2025-07-31,5
26,sneha juwani,9638222737,Fiona A401,Jul 2025,2025-07-09,2
27,Priyanka Kothari,9099639469,"B-401.Sapphire Court, Vesu",Jul 2025,2025-07-01,1
28,sourav,9974173433,jolly A1304,Jul 2025,2025-07-08,2
29,vashar preet,9898169655,Vesu B2 501 celebrity greens,Jul 2025,2025-07-22,4
30,mitesh bhai,9537890657,dumas,Jul 2025,2025-07-10,2
31,Priya Agrawal,7990567543,Vesu,Jul 2025,2025-07-10,2
32,babita,8780331212,rajhans sinfoniya B805,Jul 2025,2025-07-08,2

In [42]:
rep_cst_lm_week = rep_cst_lm_df.groupby("Week").size().reset_index(name="Cst Count")
rep_cst_lm_week

   Week  Cst Count
0     1         10
1     2         14
2     3          5
3     4          3
4     5          1

In [43]:
rep_cst_lm_df['Day'] = rep_cst_lm_df['Date'].dt.day_name()
rep_cst_lm_df

,Name,Mobile No,Address,Month_Year,Date,Week,Day
0,Jhunjhunwala,9979366815,"A-1002, Rajhans Cosmic, Vesu",Jul 2025,2025-07-04,1,Friday
1,jenish doshi,9825108845,Vesu,Jul 2025,2025-07-18,3,Friday
2,k.p,9012406659,Vesu,Jul 2025,2025-07-24,4,Thursday
3,mayank tyagi,9891976976,B1002 sarmya apartment opp terapanth citilight,Jul 2025,2025-07-03,1,Thursday
4,Isha Raathi,8094146999,"B-901, Flourence, Vesu",Jul 2025,2025-07-07,2,Monday
5,saloni,9687422277,subh anclev A1004,Jul 2025,2025-07-04,1,Friday
6,Leher Thakur,9624004792,"C-201, Aakash Evergreen, Vesu",Jul 2025,2025-07-07,2,Monday
7,Deepak bhai,9824144884,"A-501, The Evolution",Jul 2025,2025-07-03,1,Thursday
8,Niriksha Daga,9099016668,"S-2,901, Happy Excelencia, Vesu",Jul 2025,2025-07-12,2,Saturday
9,Nikko,9879542032,Shubh Enclave,Jul 2025,2025-07-04,1,Friday
10,Paras Shah,9712925780,"D-801, Flourence, Vesu",Jul 2025,2025-07-03,1,Thursday
11,anupama,9016242079,jolly H601,Jul 2025,2025-07-07,2,Monday
12,Jatanlal Bothra,9426153129,D 801 Devraj Residency Near Om Turner,Jul 2025,2025-07-03,1,Thursday
13,Pallvi Agrawal,9624822004,"B-601, Emotion, Expression, near shyam mandir,...",Jul 2025,2025-07-01,1,Tuesday
14,gourav bagaria,6291673385,A/B3 green victory,Jul 2025,2025-07-18,3,Friday
15,Roshni,8980084840,"E-604, Jolly Residency, Vesu",Jul 2025,2025-07-07,2,Monday
16,zota,8980878542,Vesu,Jul 2025,2025-07-05,1,Saturday
17,Samir Bhai,9537748909,Cannon Street 1,Jul 2025,2025-07-07,2,Monday
18,Tanmay sethia,6002632768,a 1103 nandan van vesu,Jul 2025,2025-07-18,3,Friday
19,Yash bagre,7574038858,"A-1303, Royal Regency, Vesu",Jul 2025,2025-07-10,2,Thursday
20,hitesh kachhani,9998585310,Vesu canon street,Jul 2025,2025-07-08,2,Tuesday
21,om studio,9898022113,Vesu cannon street om studio,Jul 2025,2025-07-21,4,Monday
22,abhi,8306540657,d 301 sangini vedanta,Jul 2025,2025-07-18,3,Friday
23,Abhilasa Agrawal,9925234690,Nalanda,Jul 2025,2025-07-15,3,Tuesday
24,jinali,9555965750,vesu,Jul 2025,2025-07-08,2,Tuesday
25,Samir,9825382832,"I-736, Star Galaxy, Vesu",Jul 2025,2025-07-31,5,Thursday
26,sneha juwani,9638222737,Fiona A401,Jul 2025,2025-07-09,2,Wednesday
27,Priyanka Kothari,9099639469,"B-401.Sapphire Court, Vesu",Jul 2025,2025-07-01,1,Tuesday
28,sourav,9974173433,jolly A1304,Jul 2025,2025-07-08,2,Tuesday
29,vashar preet,9898169655,Vesu B2 501 celebrity greens,Jul 2025,2025-07-22,4,Tuesday
30,mitesh bhai,9537890657,dumas,Jul 2025,2025-07-10,2,Thursday
31,Priya Agrawal,7990567543,Vesu,Jul 2025,2025-07-10,2,Thursday
32,babita,8780331212,rajhans sinfoniya B805,Jul 2025,2025-07-08,2,Tuesday

In [44]:
with pd.ExcelWriter('Spreadsheets/New_Customers.xlsx',engine="openpyxl",mode='a',if_sheet_exists='replace') as writer:
    new_cst_df.to_excel(writer, sheet_name=present_month,index=False)

In [45]:
with pd.ExcelWriter('Spreadsheets/Repeating_Customers.xlsx',engine="openpyxl",mode='a',if_sheet_exists='replace') as writer:
    rep_cst_df.to_excel(writer, sheet_name=present_month,index=False)

In [46]:
with pd.ExcelWriter('Spreadsheets/Rep_LastMonth_Customers.xlsx',engine="openpyxl",mode='a',if_sheet_exists='replace') as writer:
    rep_cst_lm_df.to_excel(writer, sheet_name=present_month,index=False)

In [47]:
present_data['Week'] = present_data['Order Date/Time'].apply(get_week_of_month)
# past_data['Week'] = past_data['Order Date/Time'].apply(get_week_of_month)

In [48]:
present_data.head()

,Order Date/Time,Order No.,Name,Address,Phone,Due Date,Pcs.,Weight,Gross Amount,Discount,Net Amount,Paid,Balance,Week
0,2025-07-01,052-01685,ishani,hampton park B901,9723423643,"06 Jul, 2025",28,NaN,2450,0.0,2450.0,2450,0,1
1,2025-07-01,052-01686,Neha Agarwal,"C 901, Fiona, Next to Siddhivinayak temple",9925121243,"06 Jul, 2025",2,NaN,260,0.0,260.0,260,0,1
2,2025-07-01,052-01687,Stuti Doshi,"D-204, Jolly Residency, Vesu",9824516012,"06 Jul, 2025",3,0.0,180,0.0,180.0,0,180,1
3,2025-07-01,052-01688,Priyanka Kothari,"B-401.Sapphire Court, Vesu",9099639469,"06 Jul, 2025",1,NaN,60,0.0,60.0,60,0,1
4,2025-07-01,052-01690,Pallvi Agrawal,"B-601, Emotion, Expression, near shyam mandir,...",9624822004,"06 Jul, 2025",6,0.0,270,0.0,270.0,270,0,1

In [49]:
present_data['Week'].value_counts()

Week
3    40
2    39
4    34
5    23
1    18
Name: count, dtype: int64

In [50]:
df_week = present_data.groupby('Week')['Net Amount'].sum().reset_index()

In [51]:
df_week

   Week  Net Amount
0     1     9520.00
1     2    20036.00
2     3    21438.00
3     4    18942.70
4     5    12177.35

In [52]:
weekly_sales = df_week.set_index('Week').T
weekly_sales.columns = [f"Week-{int(week)}" for week in weekly_sales.columns]
weekly_sales = weekly_sales.reset_index(drop=True)
weekly_sales

   Week-1   Week-2   Week-3   Week-4    Week-5
0  9520.0  20036.0  21438.0  18942.7  12177.35

In [53]:
present_data['Day'] = present_data['Order Date/Time'].dt.day_name()

In [54]:
present_data.head()

,Order Date/Time,Order No.,Name,Address,Phone,Due Date,Pcs.,Weight,Gross Amount,Discount,Net Amount,Paid,Balance,Week,Day
0,2025-07-01,052-01685,ishani,hampton park B901,9723423643,"06 Jul, 2025",28,NaN,2450,0.0,2450.0,2450,0,1,Tuesday
1,2025-07-01,052-01686,Neha Agarwal,"C 901, Fiona, Next to Siddhivinayak temple",9925121243,"06 Jul, 2025",2,NaN,260,0.0,260.0,260,0,1,Tuesday
2,2025-07-01,052-01687,Stuti Doshi,"D-204, Jolly Residency, Vesu",9824516012,"06 Jul, 2025",3,0.0,180,0.0,180.0,0,180,1,Tuesday
3,2025-07-01,052-01688,Priyanka Kothari,"B-401.Sapphire Court, Vesu",9099639469,"06 Jul, 2025",1,NaN,60,0.0,60.0,60,0,1,Tuesday
4,2025-07-01,052-01690,Pallvi Agrawal,"B-601, Emotion, Expression, near shyam mandir,...",9624822004,"06 Jul, 2025",6,0.0,270,0.0,270.0,270,0,1,Tuesday

In [55]:
day_wise_sales = present_data.groupby('Day')['Net Amount'].sum().reset_index()
day_wise_sales

         Day  Net Amount
0     Friday    13862.75
1     Monday    13308.00
2   Saturday    16538.75
3   Thursday     9623.80
4    Tuesday    17016.50
5  Wednesday    11764.25

In [56]:
from pandas.api.types import CategoricalDtype
day_order = ['Monday', 'Tuesday', 'Wednesday', 'Thursday', 'Friday', 'Saturday', 'Sunday']
cat_type = CategoricalDtype(categories=day_order, ordered=True)

day_wise_sales["Day"] = day_wise_sales["Day"].astype(cat_type)
day_wise_sales = day_wise_sales.sort_values("Day").reset_index(drop=True)
day_wise_sales

         Day  Net Amount
0     Monday    13308.00
1    Tuesday    17016.50
2  Wednesday    11764.25
3   Thursday     9623.80
4     Friday    13862.75
5   Saturday    16538.75

In [57]:
daily_sales = day_wise_sales.set_index('Day').T
daily_sales = daily_sales.reset_index(drop=True)
daily_sales

Day   Monday  Tuesday  Wednesday  Thursday    Friday  Saturday
0    13308.0  17016.5   11764.25    9623.8  13862.75  16538.75

In [58]:
week_data = weekly_sales.iloc[0].to_dict()
week_data

{'Week-1': 9520.0,
 'Week-2': 20036.0,
 'Week-3': 21438.0,
 'Week-4': 18942.7,
 'Week-5': 12177.35}

In [59]:
days_data = daily_sales.iloc[0].to_dict()
days_data

{'Monday': 13308.0,
 'Tuesday': 17016.5,
 'Wednesday': 11764.25,
 'Thursday': 9623.8,
 'Friday': 13862.75,
 'Saturday': 16538.75}

In [60]:
month_details = {
    f"{present_month}": {
        "Revenue": present_revenue,
        "Total Orders": len(present_data),
        "Total Customers in Month": len(present_customers),
        "Total Customers": len(updated_cst_list),
        "Weeks": week_data,
        "Days": days_data,
        "New Customers": len(new_cst_df),
        "Repeating Customers": len(repeating_cst_list),
        "Repeating Cst from Last Month": len(repeating_cst_lastmonth_list),
        "Ret.Rate wrt. Last Month": f'{last_month_rr}%',
        "Overall Ret.Rate": f'{retention_rate}%'
    }
}
month_details

{'Jul 2025': {'Revenue': 82114.04999999999,
  'Total Orders': 154,
  'Total Customers in Month': 71,
  'Total Customers': 347,
  'Weeks': {'Week-1': 9520.0,
   'Week-2': 20036.0,
   'Week-3': 21438.0,
   'Week-4': 18942.7,
   'Week-5': 12177.35},
  'Days': {'Monday': 13308.0,
   'Tuesday': 17016.5,
   'Wednesday': 11764.25,
   'Thursday': 9623.8,
   'Friday': 13862.75,
   'Saturday': 16538.75},
  'New Customers': 22,
  'Repeating Customers': 5,
  'Repeating Cst from Last Month': 5,
  'Ret.Rate wrt. Last Month': '55.93%',
  'Overall Ret.Rate': '15.08%'}}

In [61]:
import json
import os

json_file = 'data/month_details.json'
if os.path.exists(json_file):
    with open(json_file,'r') as f:
        try:
            data = json.load(f)
        except json.JSONDecodeError:
            data = {}
else:
    data = {}

In [62]:
data

{'Jan 2025': {'Revenue': 64584.79,
  'Total Orders': 92,
  'Total Customers in Month': 56,
  'Total Customers': 235,
  'Weeks': {'Week-1': 3669.0,
   'Week-2': 12455.29,
   'Week-3': 13139.25,
   'Week-4': 24506.25,
   'Week-5': 10815.0},
  'Days': {'Monday': 11593.0,
   'Tuesday': 8995.0,
   'Wednesday': 10789.4,
   'Thursday': 16560.89,
   'Friday': 8823.25,
   'Saturday': 7823.25},
  'New Customers': 28,
  'Repeating Customers': 28,
  'Repeating Cst from Last Month': 0,
  'Ret.Rate wrt. Last Month': '0.00%',
  'Overall Ret.Rate': '13.53%'},
 'Feb 2025': {'Revenue': 92721.0,
  'Total Orders': 119,
  'Total Customers in Month': 60,
  'Total Customers': 253,
  'Weeks': {'Week-1': 742.5,
   'Week-2': 22182.25,
   'Week-3': 21167.25,
   'Week-4': 30824.0,
   'Week-5': 17805.0},
  'Days': {'Monday': 13356.0,
   'Tuesday': 11910.25,
   'Wednesday': 23327.0,
   'Thursday': 19085.0,
   'Friday': 10621.0,
   'Saturday': 14421.75},
  'New Customers': 18,
  'Repeating Customers': 42,
  'Repeating Cst from Last Month': 25,
  'Ret.Rate wrt. Last Month': '44.64%',
  'Overall Ret.Rate': '17.87%'},
 'Mar 2025': {'Revenue': 69643.95,
  'Total Orders': 103,
  'Total Customers in Month': 59,
  'Total Customers': 273,
  'Weeks': {'Week-1': 4386.25,
   'Week-2': 18301.0,
   'Week-3': 6309.0,
   'Week-4': 20761.5,
   'Week-5': 19486.2,
   'Week-6': 400.0},
  'Days': {'Monday': 14205.0,
   'Tuesday': 7492.0,
   'Wednesday': 11538.2,
   'Thursday': 10634.0,
   'Friday': 13215.0,
   'Saturday': 12559.75},
  'New Customers': 20,
  'Repeating Customers': 39,
  'Repeating Cst from Last Month': 30,
  'Ret.Rate wrt. Last Month': '50.0%',
  'Overall Ret.Rate': '15.42%'},
 'Apr 2025': {'Revenue': 59084.2,
  'Total Orders': 94,
  'Total Customers in Month': 49,
  'Total Customers': 282,
  'Weeks': {'Week-1': 9938.05,
   'Week-2': 12534.75,
   'Week-3': 9065.0,
   'Week-4': 22346.4,
   'Week-5': 5200.0},
  'Days': {'Monday': 8105.0,
   'Tuesday': 7370.0,
   'Wednesday': 6800.0,
   'Thursday': 12359.25,
   'Friday': 16391.15,
   'Saturday': 8058.8},
  'New Customers': 9,
  'Repeating Customers': 5,
  'Repeating Cst from Last Month': 5,
  'Ret.Rate wrt. Last Month': '50.85%',
  'Overall Ret.Rate': '14.65%'},
 'May 2025': {'Revenue': 74663.15,
  'Total Orders': 109,
  'Total Customers in Month': 59,
  'Total Customers': 302,
  'Weeks': {'Week-1': 10128.25,
   'Week-2': 16236.75,
   'Week-3': 11286.75,
   'Week-4': 22219.4,
   'Week-5': 14792.0},
  'Days': {'Monday': 13759.9,
   'Tuesday': 14634.5,
   'Wednesday': 6578.0,
   'Thursday': 18233.25,
   'Friday': 8085.0,
   'Saturday': 13372.5},
  'New Customers': 20,
  'Repeating Customers': 5,
  'Repeating Cst from Last Month': 5,
  'Ret.Rate wrt. Last Month': '55.1%',
  'Overall Ret.Rate': '13.83%'},
 'Jun 2025': {'Revenue': 64246.5,
  'Total Orders': 102,
  'Total Customers in Month': 59,
  'Total Customers': 325,
  'Weeks': {'Week-2': 15711.75,
   'Week-3': 15734.75,
   'Week-4': 16145.5,
   'Week-5': 15901.5,
   'Week-6': 753.0},
  'Days': {'Monday': 10635.0,
   'Tuesday': 15272.5,
   'Wednesday': 18199.0,
   'Thursday': 6512.5,
   'Friday': 4178.0,
   'Saturday': 9449.5},
  'New Customers': 23,
  'Repeating Customers': 5,
  'Repeating Cst from Last Month': 5,
  'Ret.Rate wrt. Last Month': '42.37%',
  'Overall Ret.Rate': '11.92%'}}

In [63]:
data.update(month_details)
data

{'Jan 2025': {'Revenue': 64584.79,
  'Total Orders': 92,
  'Total Customers in Month': 56,
  'Total Customers': 235,
  'Weeks': {'Week-1': 3669.0,
   'Week-2': 12455.29,
   'Week-3': 13139.25,
   'Week-4': 24506.25,
   'Week-5': 10815.0},
  'Days': {'Monday': 11593.0,
   'Tuesday': 8995.0,
   'Wednesday': 10789.4,
   'Thursday': 16560.89,
   'Friday': 8823.25,
   'Saturday': 7823.25},
  'New Customers': 28,
  'Repeating Customers': 28,
  'Repeating Cst from Last Month': 0,
  'Ret.Rate wrt. Last Month': '0.00%',
  'Overall Ret.Rate': '13.53%'},
 'Feb 2025': {'Revenue': 92721.0,
  'Total Orders': 119,
  'Total Customers in Month': 60,
  'Total Customers': 253,
  'Weeks': {'Week-1': 742.5,
   'Week-2': 22182.25,
   'Week-3': 21167.25,
   'Week-4': 30824.0,
   'Week-5': 17805.0},
  'Days': {'Monday': 13356.0,
   'Tuesday': 11910.25,
   'Wednesday': 23327.0,
   'Thursday': 19085.0,
   'Friday': 10621.0,
   'Saturday': 14421.75},
  'New Customers': 18,
  'Repeating Customers': 42,
  'Repeating Cst from Last Month': 25,
  'Ret.Rate wrt. Last Month': '44.64%',
  'Overall Ret.Rate': '17.87%'},
 'Mar 2025': {'Revenue': 69643.95,
  'Total Orders': 103,
  'Total Customers in Month': 59,
  'Total Customers': 273,
  'Weeks': {'Week-1': 4386.25,
   'Week-2': 18301.0,
   'Week-3': 6309.0,
   'Week-4': 20761.5,
   'Week-5': 19486.2,
   'Week-6': 400.0},
  'Days': {'Monday': 14205.0,
   'Tuesday': 7492.0,
   'Wednesday': 11538.2,
   'Thursday': 10634.0,
   'Friday': 13215.0,
   'Saturday': 12559.75},
  'New Customers': 20,
  'Repeating Customers': 39,
  'Repeating Cst from Last Month': 30,
  'Ret.Rate wrt. Last Month': '50.0%',
  'Overall Ret.Rate': '15.42%'},
 'Apr 2025': {'Revenue': 59084.2,
  'Total Orders': 94,
  'Total Customers in Month': 49,
  'Total Customers': 282,
  'Weeks': {'Week-1': 9938.05,
   'Week-2': 12534.75,
   'Week-3': 9065.0,
   'Week-4': 22346.4,
   'Week-5': 5200.0},
  'Days': {'Monday': 8105.0,
   'Tuesday': 7370.0,
   'Wednesday': 6800.0,
   'Thursday': 12359.25,
   'Friday': 16391.15,
   'Saturday': 8058.8},
  'New Customers': 9,
  'Repeating Customers': 5,
  'Repeating Cst from Last Month': 5,
  'Ret.Rate wrt. Last Month': '50.85%',
  'Overall Ret.Rate': '14.65%'},
 'May 2025': {'Revenue': 74663.15,
  'Total Orders': 109,
  'Total Customers in Month': 59,
  'Total Customers': 302,
  'Weeks': {'Week-1': 10128.25,
   'Week-2': 16236.75,
   'Week-3': 11286.75,
   'Week-4': 22219.4,
   'Week-5': 14792.0},
  'Days': {'Monday': 13759.9,
   'Tuesday': 14634.5,
   'Wednesday': 6578.0,
   'Thursday': 18233.25,
   'Friday': 8085.0,
   'Saturday': 13372.5},
  'New Customers': 20,
  'Repeating Customers': 5,
  'Repeating Cst from Last Month': 5,
  'Ret.Rate wrt. Last Month': '55.1%',
  'Overall Ret.Rate': '13.83%'},
 'Jun 2025': {'Revenue': 64246.5,
  'Total Orders': 102,
  'Total Customers in Month': 59,
  'Total Customers': 325,
  'Weeks': {'Week-2': 15711.75,
   'Week-3': 15734.75,
   'Week-4': 16145.5,
   'Week-5': 15901.5,
   'Week-6': 753.0},
  'Days': {'Monday': 10635.0,
   'Tuesday': 15272.5,
   'Wednesday': 18199.0,
   'Thursday': 6512.5,
   'Friday': 4178.0,
   'Saturday': 9449.5},
  'New Customers': 23,
  'Repeating Customers': 5,
  'Repeating Cst from Last Month': 5,
  'Ret.Rate wrt. Last Month': '42.37%',
  'Overall Ret.Rate': '11.92%'},
 'Jul 2025': {'Revenue': 82114.04999999999,
  'Total Orders': 154,
  'Total Customers in Month': 71,
  'Total Customers': 347,
  'Weeks': {'Week-1': 9520.0,
   'Week-2': 20036.0,
   'Week-3': 21438.0,
   'Week-4': 18942.7,
   'Week-5': 12177.35},
  'Days': {'Monday': 13308.0,
   'Tuesday': 17016.5,
   'Wednesday': 11764.25,
   'Thursday': 9623.8,
   'Friday': 13862.75,
   'Saturday': 16538.75},
  'New Customers': 22,
  'Repeating Customers': 5,
  'Repeating Cst from Last Month': 5,
  'Ret.Rate wrt. Last Month': '55.93%',
  'Overall Ret.Rate': '15.08%'}}

In [64]:
with open(json_file,'w') as f:
    json.dump(data,f,indent=4)

In [65]:
summary_data = {
    "Revenue": {
        "Current Month": data[present_month]["Revenue"],
        "Past Month": data[past_month]["Revenue"]
    },
    "Total Orders": {
        "Current Month": data[present_month]["Total Orders"],
        "Past Month": data[past_month]["Total Orders"]
    },
    "Total Customers List": {
        "Current Month": data[present_month]["Total Customers"],
        "Past Month": data[past_month]["Total Customers"]
    },
        "Total Customers in Month": {
        "Current Month": data[present_month]["Total Customers in Month"],
        "Past Month": data[past_month]["Total Customers in Month"]
    },
    "New Customers": {
        "Current Month": data[present_month]["New Customers"],
        "Past Month": data[past_month]["New Customers"]
    },
    "Repeating Customers": {
        "Current Month": data[present_month]["Repeating Customers"],
        "Past Month": data[past_month]["Repeating Customers"]
    },
    "Retention Rate": {
        "Current Month": data[present_month]["Overall Ret.Rate"],
        "Past Month": data[past_month]["Overall Ret.Rate"]
    },
    "Retention Rate wrt. Last Month": {
        "Current Month": data[present_month]["Ret.Rate wrt. Last Month"],
        "Past Month": data[past_month]["Ret.Rate wrt. Last Month"]
    }
}

summary_data

{'Revenue': {'Current Month': 82114.04999999999, 'Past Month': 64246.5},
 'Total Orders': {'Current Month': 154, 'Past Month': 102},
 'Total Customers List': {'Current Month': 347, 'Past Month': 325},
 'Total Customers in Month': {'Current Month': 71, 'Past Month': 59},
 'New Customers': {'Current Month': 22, 'Past Month': 23},
 'Repeating Customers': {'Current Month': 5, 'Past Month': 5},
 'Retention Rate': {'Current Month': '15.08%', 'Past Month': '11.92%'},
 'Retention Rate wrt. Last Month': {'Current Month': '55.93%',
  'Past Month': '42.37%'}}

In [66]:
comparison_df = pd.DataFrame.from_dict(summary_data, orient="index")
comparison_df

                               Current Month Past Month
Revenue                             82114.05    64246.5
Total Orders                             154        102
Total Customers List                     347        325
Total Customers in Month                  71         59
New Customers                             22         23
Repeating Customers                        5          5
Retention Rate                        15.08%     11.92%
Retention Rate wrt. Last Month        55.93%     42.37%

In [67]:
comparison_df.index.name = ''
comparison_df.reset_index(inplace=True)
comparison_df.columns = ["", f'{present_month}', f'{past_month}']
comparison_df

                                   Jul 2025 Jun 2025
0                         Revenue  82114.05  64246.5
1                    Total Orders       154      102
2            Total Customers List       347      325
3        Total Customers in Month        71       59
4                   New Customers        22       23
5             Repeating Customers         5        5
6                  Retention Rate    15.08%   11.92%
7  Retention Rate wrt. Last Month    55.93%   42.37%

In [68]:
weeks_current = pd.Series(data[present_month]['Weeks'],name=present_month)
weeks_current

Week-1     9520.00
Week-2    20036.00
Week-3    21438.00
Week-4    18942.70
Week-5    12177.35
Name: Jul 2025, dtype: float64

In [69]:
weeks_past = pd.Series(data[past_month]['Weeks'],name=past_month)
weeks_past

Week-2    15711.75
Week-3    15734.75
Week-4    16145.50
Week-5    15901.50
Week-6      753.00
Name: Jun 2025, dtype: float64

In [70]:
week_comparison = pd.concat([weeks_current,weeks_past],axis=1)
week_comparison.index.name = "Weeks"
week_comparison = week_comparison.reset_index()
week_comparison.fillna(0,inplace=True)     #To fill Nan values if some month has less or more weeks than other
week_comparison

    Weeks  Jul 2025  Jun 2025
0  Week-1   9520.00      0.00
1  Week-2  20036.00  15711.75
2  Week-3  21438.00  15734.75
3  Week-4  18942.70  16145.50
4  Week-5  12177.35  15901.50
5  Week-6      0.00    753.00

In [71]:
days_current = pd.Series(data[present_month]['Days'],name=present_month)
days_current

Monday       13308.00
Tuesday      17016.50
Wednesday    11764.25
Thursday      9623.80
Friday       13862.75
Saturday     16538.75
Name: Jul 2025, dtype: float64

In [72]:
days_past = pd.Series(data[past_month]['Days'],name=past_month)
days_past

Monday       10635.0
Tuesday      15272.5
Wednesday    18199.0
Thursday      6512.5
Friday        4178.0
Saturday      9449.5
Name: Jun 2025, dtype: float64

In [73]:
day_comparison = pd.concat([days_current,days_past],axis=1)
day_comparison.index.name = "Days"
day_comparison = day_comparison.reset_index()
day_comparison.fillna("No Data",inplace=True)     #To fill Nan values if some month has less or more weeks than other
day_comparison

        Days  Jul 2025  Jun 2025
0     Monday  13308.00   10635.0
1    Tuesday  17016.50   15272.5
2  Wednesday  11764.25   18199.0
3   Thursday   9623.80    6512.5
4     Friday  13862.75    4178.0
5   Saturday  16538.75    9449.5

# Creating Excel Report

In [74]:
char_list = [chr(i) for i in range(65,80)]
char_list

['A', 'B', 'C', 'D', 'E', 'F', 'G', 'H', 'I', 'J', 'K', 'L', 'M', 'N', 'O']

In [75]:
def set_column_width(sheet):
    for letter in char_list:
        sheet.column_dimensions[letter].width = 22

In [76]:
import openpyxl
from openpyxl import load_workbook
from openpyxl.styles import Font,Alignment,PatternFill

# Try to load existing workbook, otherwise create a new one
try:
    wb = load_workbook('Spreadsheets/Mr_Blue_Monthly_Reports.xlsx')
except FileNotFoundError:
    wb = openpyxl.Workbook()

# Create new sheet if not already there    
if present_month not in wb.sheetnames:
    ws = wb.create_sheet(title=present_month)
else:
    ws = wb[present_month]

set_column_width(ws)

ws.row_dimensions[1].height = 45
ws.merge_cells('A1:I1')
merged_cell = ws['A1']
merged_cell.alignment = Alignment(horizontal='left',vertical='center')
merged_cell.value = 'MONTHLY RETAIL SALES SUMMARY REPORT'
merged_cell.font = Font('Century Gothic',bold=True,size=22,color='595959')

ws.row_dimensions[2].height = 20
ws['A2'].alignment = Alignment(horizontal='left',vertical='center')
ws['A2'].value = 'REPORTING MONTH'
ws['A2'].font = Font('Century Gothic',bold=False,size=15,color='595959')

ws.row_dimensions[4].height = 40
ws.merge_cells('A4:E4')
merged_cell2 = ws['A4']
merged_cell2.alignment = Alignment(horizontal='left',vertical='center')
merged_cell2.value = present_month
merged_cell2.font = Font('Century Gothic',bold=True,size=12,color='595959')
merged_cell2.fill = PatternFill(start_color="F2F2F2",fill_type="solid")

ws.row_dimensions[3].height = 3
ws.row_dimensions[5].height = 3

ws.row_dimensions[6].height = 35
ws.merge_cells('A6:C6')
merged_cell = ws['A6']
merged_cell.alignment = Alignment(horizontal='left',vertical='center')
merged_cell.value = 'SUMMARY REPORT'
merged_cell.font = Font('Century Gothic',bold=False,size=20,color='000080')

# wb.save('Mr_Blue_Monthly_Reports.xlsx')

In [77]:
from openpyxl.styles.borders import Border,Side

def apply_Border_to_DataFrame(cell):
    cell.border = Border(left=Side(style='thin',color='BFBFBF'), 
                             right=Side(style='thin',color='BFBFBF'), 
                             top=Side(style='thin',color='BFBFBF'), 
                             bottom=Side(style='thin',color='BFBFBF'))

In [78]:
from openpyxl.utils.dataframe import dataframe_to_rows

def add_df_to_excel(sheet,rows,r_index,c_index,isHidden,col_space):
    for r_idx,row in enumerate(rows,r_index):
        for c_idx,value in enumerate(row,c_index):
            #for merging the cell whose titles are long, gives column space
            if c_idx != 1:
                c_idx += col_space
            cell = sheet.cell(row=r_idx, column=c_idx, value=value)
            cell.alignment = Alignment(horizontal="center",vertical="center")
            cell.font = Font('Century Gothic',bold=False,size=12)
            if isHidden:
                cell.font = Font(color="FFFFFF")
            else:
                apply_Border_to_DataFrame(cell)  
                if cell.row == r_index:
                    cell.fill = PatternFill(start_color="B2DEFF",fill_type="solid")
                    cell.font = Font('Century Gothic',bold=True,size=11,color='000000') 

        ws.row_dimensions[r_idx].height = 35

In [79]:
def set_row_height(sheet,start,end,value):
    for i in range(start,end+1):
        sheet.row_dimensions[i].height = value

In [80]:
df_summary

   Total Revenue  Total Order
0       82114.05          154

In [81]:
from openpyxl.utils import get_column_letter
from openpyxl.styles import numbers

# ws.row_dimensions[7].height = 35
# ws.row_dimensions[8].height = 35
set_row_height(ws,7,8,35)

rows_summary = dataframe_to_rows(df_summary,index=False)
add_df_to_excel(ws,rows_summary,7,1,isHidden=False,col_space=0)

for row in ws.iter_rows(min_row=7,max_row=8,min_col=1,max_col=3):
    for cell in row:
        if cell.row == 7:
            if cell.column == 1:
                cell.fill = PatternFill(start_color="72BEF8",fill_type="solid")
        else:
            if cell.column == 1:
                cell.number_format = '"₹"#,##0.00'
                
# wb.save('Mr_Blue_Monthly_Reports.xlsx')

In [82]:
# ws.row_dimensions[10].height = 35
# ws.row_dimensions[11].height = 35
# ws.row_dimensions[12].height = 35
set_row_height(ws,10,12,35)

#Adding data vertically for temporary use
rows_temp = dataframe_to_rows(df_week,index=False)
add_df_to_excel(ws,rows_temp,11,10,isHidden=True,col_space=0)

ws.merge_cells('A10:C10')
merged_cell = ws['A10']
merged_cell.alignment = Alignment(horizontal='left',vertical='center')
merged_cell.value = 'WEEKLY SALES REPORT'
merged_cell.font = Font('Century Gothic',bold=False,size=20,color='000080')

rows_week = dataframe_to_rows(weekly_sales,index=False)
add_df_to_excel(ws,rows_week,11,1,isHidden=False,col_space=0)

for row in ws.iter_rows(min_row=11,max_row=12,min_col=1,max_col=len(weekly_sales.columns)):
    for cell in row:
        if cell.row == 12:
            cell.number_format = '"₹"#,##0.00'

# wb.save('Mr_Blue_Monthly_Reports.xlsx')

In [83]:
from openpyxl.chart import DoughnutChart,Reference
from openpyxl.chart.label import DataLabelList

ws.row_dimensions[14].height = 100
ws.row_dimensions[15].height = 100
ws.row_dimensions[16].height = 74.25

weekly_chart = DoughnutChart()
weekly_chart.title = "Weekly Revenue"
weekly_chart.height = 10
weekly_chart.widht = 25

#Data and Categories
data_week = Reference(ws,min_col=11,min_row=11,max_row=11 + len(df_week))
category_week = Reference(ws,min_col=10,min_row=12,max_row=11 + len(df_week))
weekly_chart.add_data(data_week,titles_from_data=True)
weekly_chart.set_categories(category_week)

#Add Chart Labels
weekly_chart.dataLabels = DataLabelList()
weekly_chart.dataLabels.showVal = False
weekly_chart.dataLabels.showPercent = True

ws.add_chart(weekly_chart,'A14')

# wb.save('Mr_Blue_Monthly_Reports.xlsx')

In [84]:
set_row_height(ws,19,26,35)

ws.merge_cells('A19:C19')
merged_cell = ws['A19']
merged_cell.alignment = Alignment(horizontal='left',vertical='center')
merged_cell.value = 'DAILY SALES REPORT'
merged_cell.font = Font('Century Gothic',bold=False,size=20,color='000080')

rows_week = dataframe_to_rows(day_wise_sales,index=False)
add_df_to_excel(ws,rows_week,20,1,isHidden=False,col_space=0)

for row in ws.iter_rows(min_row=21,max_row=21+len(day_wise_sales),min_col=1,max_col=2):
    for cell in row:
        if cell.column == 2:
            cell.number_format = '"₹"#,##0.00'

# wb.save('Mr_Blue_Monthly_Reports.xlsx')

In [85]:
from openpyxl.chart import BarChart

product_chart = BarChart()
product_chart.type = "bar"
product_chart.title = "Daily Sales Report"
product_chart.style = 2
product_chart.y_axis.title = "Revenue"
product_chart.x_axis.title = "Day"
product_chart.height = 15
product_chart.width = 27

data = Reference(ws,min_col=2,min_row=20,max_row=20+len(day_wise_sales))
cat = Reference(ws,min_col=1,min_row=21,max_row=20+len(day_wise_sales))
product_chart.add_data(data,titles_from_data=True)
product_chart.set_categories(cat)

#Add Chart Labels
product_chart.legend = None
product_chart.dataLabels = DataLabelList()
product_chart.dataLabels.showVal = True

ws.add_chart(product_chart,'A28')

# wb.save('Mr_Blue_Monthly_Reports.xlsx')

In [86]:
set_row_height(ws,58,60,35)
ws.merge_cells('A58:C58')
merged_cell = ws['A58']
merged_cell.alignment = Alignment(horizontal='left',vertical='center')
merged_cell.value = 'CUSTOMERS REPORT'
merged_cell.font = Font('Century Gothic',bold=False,size=20,color='000080')

rows_summary = dataframe_to_rows(df_customers,index=False)
add_df_to_excel(ws,rows_summary,59,1,isHidden=False,col_space=0)

# wb.save('Mr_Blue_Monthly_Reports.xlsx')

In [87]:
ws.row_dimensions[62].height = 35
ws.row_dimensions[63].height = 45
set_row_height(ws,64,70,25)
ws.merge_cells('A62:D62')
merged_cell = ws['A62']
merged_cell.alignment = Alignment(horizontal='left',vertical='center')
merged_cell.value = 'PREVIOUS MONTH COMPARISION'
merged_cell.font = Font('Century Gothic',bold=False,size=20,color='000080')

rows_summary = dataframe_to_rows(comparison_df,index=False)
add_df_to_excel(ws,rows_summary,63,1,isHidden=False,col_space=2)

for i in range(63,72):
    ws.merge_cells(f'A{i}:C{i}')

for row in ws.iter_rows(min_row=63, max_row=71, min_col=1, max_col=5):
    for cell in row:
        if cell.column == 1:
            cell.fill = PatternFill(start_color='FFFFFF',fill_type="solid")
            cell.font = Font('Century Gothic',bold=True,size=14)
            cell.alignment = Alignment(horizontal='left',vertical='center')
            if cell.row == 63:
                cell.fill = PatternFill(start_color="D6DCE4",fill_type="solid")
        elif cell.column == 4:
            cell.fill = PatternFill(start_color="222B35",fill_type="solid")
            cell.font = Font(color="FFFFFF",size=14)
            if cell.row > 63:
                cell.fill = PatternFill(start_color="D6DCE4",fill_type="solid")
                cell.font = Font(color="000000",size=14)
        elif cell.column == 5:
            cell.fill = PatternFill(start_color="548235",fill_type="solid")
            cell.font = Font(color="FFFFFF",size=14)
            if cell.row > 63:
                cell.fill = PatternFill(start_color="E2EFDA",fill_type="solid")
                cell.font = Font(color="000000",size=14)

ws.sheet_view.showGridLines = False
# wb.save('Mr_Blue_Monthly_Reports.xlsx')

In [88]:
ws.row_dimensions[73].height = 35
ws.row_dimensions[74].height = 45
set_row_height(ws,75,74+len(week_comparison),25)
ws.merge_cells('A73:D73')
merged_cell = ws['A73']
merged_cell.alignment = Alignment(horizontal='left',vertical='center')
merged_cell.value = 'WEEK COMPARISION'
merged_cell.font = Font('Century Gothic',bold=False,size=20,color='000080')

rows_summary = dataframe_to_rows(week_comparison,index=False)
add_df_to_excel(ws,rows_summary,74,1,isHidden=False,col_space=2)

for i in range(74,75+len(week_comparison)):
    ws.merge_cells(f'A{i}:C{i}')

for row in ws.iter_rows(min_row=74, max_row=74+len(week_comparison), min_col=1, max_col=5):
    for cell in row:
        if cell.column == 1:
            cell.fill = PatternFill(start_color='FFFFFF',fill_type="solid")
            cell.font = Font('Century Gothic',bold=True,size=14)
            cell.alignment = Alignment(horizontal='left',vertical='center')
            if cell.row == 74:
                cell.fill = PatternFill(start_color="222B35",fill_type="solid")
                cell.font = Font(color="FFFFFF",size=14)
        elif cell.column == 4:
            cell.fill = PatternFill(start_color="222B35",fill_type="solid")
            cell.font = Font(color="FFFFFF",size=14)
            if cell.row > 74:
                cell.fill = PatternFill(start_color="D6DCE4",fill_type="solid")
                cell.font = Font(color="000000",size=14)
        elif cell.column == 5:
            cell.fill = PatternFill(start_color="548235",fill_type="solid")
            cell.font = Font(color="FFFFFF",size=14)
            if cell.row > 74:
                cell.fill = PatternFill(start_color="E2EFDA",fill_type="solid")
                cell.font = Font(color="000000",size=14)

# wb.save('Mr_Blue_Monthly_Reports.xlsx')

In [89]:
ws.row_dimensions[81].height = 35
ws.row_dimensions[82].height = 45
set_row_height(ws,83,82+len(day_comparison),25)
ws.merge_cells('A81:D81')
merged_cell = ws['A81']
merged_cell.alignment = Alignment(horizontal='left',vertical='center')
merged_cell.value = 'DAY COMPARISION'
merged_cell.font = Font('Century Gothic',bold=False,size=20,color='000080')

rows_summary = dataframe_to_rows(day_comparison,index=False)
add_df_to_excel(ws,rows_summary,82,1,isHidden=False,col_space=2)

for i in range(82,83+len(day_comparison)):
    ws.merge_cells(f'A{i}:C{i}')

for row in ws.iter_rows(min_row=82, max_row=82+len(day_comparison), min_col=1, max_col=5):
    for cell in row:
        if cell.column == 1:
            cell.fill = PatternFill(start_color='FFFFFF',fill_type="solid")
            cell.font = Font('Century Gothic',bold=True,size=14)
            cell.alignment = Alignment(horizontal='left',vertical='center')
            if cell.row == 82:
                cell.fill = PatternFill(start_color="222B35",fill_type="solid")
                cell.font = Font(color="FFFFFF")
        elif cell.column == 4:
            cell.fill = PatternFill(start_color="222B35",fill_type="solid")
            cell.font = Font(color="FFFFFF",size=14)
            if cell.row > 82:
                cell.fill = PatternFill(start_color="D6DCE4",fill_type="solid")
                cell.font = Font(color="000000",size=14)
        elif cell.column == 5:
            cell.fill = PatternFill(start_color="548235",fill_type="solid")
            cell.font = Font(color="FFFFFF",size=14)
            if cell.row > 82:
                cell.fill = PatternFill(start_color="E2EFDA",fill_type="solid")
                cell.font = Font(color="000000",size=14)

wb.save('Spreadsheets/Mr_Blue_Monthly_Reports.xlsx')

In [90]:
import subprocess
import os

def convert_excel_to_pdf(input_path, output_dir=None):
    # If output_dir not provided, use input file's directory
    if output_dir is None:
        output_dir = os.path.dirname(input_path)

    # Command to run LibreOffice in headless mode
    command = [
        r'C:\Program Files\LibreOffice\program\soffice.exe',
        '--headless',
        '--convert-to', 'pdf',
        '--outdir', output_dir,  # Output directory
        input_path  # Input Excel file
    ]

    try:
        subprocess.run(command, check=True)
        print("Conversion successful.")
    except subprocess.CalledProcessError as e:
        print("Conversion failed:", e)

In [91]:
convert_excel_to_pdf('Spreadsheets/Mr_Blue_Monthly_Reports.xlsx')

Conversion successful.